.common-heading {
  color: black;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #00a8a8; /* Adds a colored underline */
  display: inline-block;
  margin: auto;
}
.common-heading-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Aligns items vertically */
}

.common-btn{
  background-color: #00a8a8;
  color:#fff;
 
}
.common-btn:hover{
  background-color: #00a8a8;
  color:#fff;
 
}
.nav-item .nav-link{
  color: "#000";
  font-weight: 400;

}
